
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* font-family: 'Poppins', sans-serif; */


/* https://unsplash.com/photos/qHD5SJwj9gM */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: url(/assets/img/christopher-burns-qHD5SJwj9gM-unsplash.jpg)center / cover no-repeat; 
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight:200;
    color:white;
}

div{
    text-align:right;
    position: absolute;
    top: 170px;
    right: 250px;
}
h1{
    font-size: 4rem;
    font-weight:400;
}
h2{
    font-size: 3rem;
    font-weight:400;
}


